@import url("vendor/normalize.css");
@import url("includes/page.css");
@import url("includes/container.css");
@import url("includes/header.css");
@import url("includes/logo.css");
@import url("includes/search.css");
@import url("includes/action.css");
@import url("includes/main.css");
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.4rem;
	color: black;
}

a {
	list-style: none;
	text-decoration: none;
	outline: none!important;
}